
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="https://wp.alithemes.com/html/evara/evara-backend/assets/css/vendors/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/material-icon.css" rel="stylesheet" type="text/css" />
    <link href="css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="page-products-list.html" class="active">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Choose Template</h2>
                    <p>Select one of the templates</p>
                </div>
                <div>
                    <a href="/templates" class="btn btn-primary btn-sm rounded">Create New Blog</a>
                </div>
            </div>

            <div class="card mt-xxl-n5">
                <div class="card-header">
                    <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">
                                <i class="fas fa-home"></i>
                                General 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                <i class="far fa-user"></i>
                                Change Password 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#experience" role="tab">
                                <i class="far fa-envelope"></i>
                                Experience   
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#privacy" role="tab">
                                <i class="far fa-envelope"></i>
                                Privacy Policy   
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-4">
                    <div class="tab-content">
                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                            <div class="row">
                                <h6 class="section-label mb-2">Images</h6>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label">Site logo</label>
                                        <input class="form-control" type="file" id="site_logo">
                                    </div>
                                </div> <!-- col.// -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label">Site icon</label>
                                        <input class="form-control" type="file" id="site_icon">
                                    </div>
                                </div> <!-- col.// -->
                            </div>
                              <!--/ header media -->
                              <hr>
                              <div class="row">
                                <h6 class="section-label mb-2">Pages</h6>
                                <div class="col-12 mb-2">
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="" id="contactSwitch" checked="">
                                        <label class="form-check-label" for="contactSwitch">
                                            Add contact page to my site
                                        </label>
                                    </div>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <h6 class="section-label mb-2">Main Site Seo</h6>
                                <div class="col-12">
                                  <div class="form-group">
                                    <div class="controls">
                                      <label>Title</label>
                                      <input type="text" class="form-control" placeholder="Title" id="main_seo_title">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mt-2">
                                  <label>Description</label>
                                  <textarea class="form-control" id="main_seo_desc" rows="5" placeholder="Description"></textarea>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <h6 class="section-label mb-2">Social Links</h6>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                          <label>Twitter</label>
                                          <input type="text" class="form-control" placeholder="Twitter" id="twitter">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <div class="controls">
                                          <label>Facebook</label>
                                          <input type="text" class="form-control" placeholder="Facebook" id="facebook">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <div class="controls">
                                          <label>Instagram</label>
                                          <input type="text" class="form-control" placeholder="Instagram" id="instagram">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="controls">
                                          <label>Youtube</label>
                                          <input type="text" class="form-control" placeholder="Youtube" id="youtube">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <div class="controls">
                                          <label>Github</label>
                                          <input type="text" class="form-control" placeholder="Github" id="github">
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <div class="controls">
                                          <label>Linkedin</label>
                                          <input type="text" class="form-control" placeholder="Linkedin" id="linkedin">
                                        </div>
                                    </div>
                                  </div>
                                  <div class="col-12 d-flex flex-sm-row justify-content-end mt-1">
                                    <button class="btn btn-primary mb-1 mr-0 mt-1 save" data-current="general">Save Changes</button>
                                  </div>
                              </div>
                        </div><!--end tab-pane-->
                        <div class="tab-pane" id="changePassword" role="tabpanel">
                            <div class="row">
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-header align-items-center d-flex">
                                            <h4 class="card-title mb-0 flex-grow-1">Categories</h4>
                                            <div>
                                                <a href="/templates" class="btn btn-primary btn-sm rounded">Create new</a>
                                            </div>
                                        </div>
                                        <div class="card-body" id="categ_list">
                                            <% categories.forEach( categ => { %> 
                                            <div class="list-group list-group-root">
                                            <a href="#" class="list-group-item"><%= categ.categ_name %></a>
                                            <div class="list-group">
                                                <a href="#" class="list-group-item">Machine Gun</a>
                                                <a href="#" class="list-group-item">Item 1.2</a>
                                            </div>
                                            </div>
                                            <% }) %>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="card">
                                        <!-- end card header -->
                                        <div class="card-body">
                                            <div class="tab-content">
                                                <!-- end tab-pane -->
                                                <div class="tab-pane active" id="addproduct-metadata" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="categ_name">Category name</label>
                                                                <input type="text" class="form-control" placeholder="Enter category" id="categ_name">
                                                            </div>
                                                        </div>
                                                        <!-- end col -->   
                                                        <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="categ_parent">Parent</label>
                                                                <div class="custom_select">
                                                                    <select class="form-select select-nice" id="categ_parent" style="width: 100%;">
                                                                        <option selected>All Categories</option>
                                                                        <option>Women's Clothing</option>
                                                                        <option>Men's Clothing</option>
                                                                        <option>Cellphones</option>
                                                                        <option>none</option>
                                                                    </select> 
                                                                </div>                               
                                                            </div>
                                                        </div>
                                                        <!-- end col -->
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <h6 class="section-label mb-2">Seo Meta</h6>
                                                        <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="seo_title">Meta title</label>
                                                                <input type="text" class="form-control" placeholder="Enter meta title" id="seo_title">
                                                            </div>
                                                        </div>
                                                        <!-- end col -->
                                                        <div class="col-lg-6">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="seo_kw">Meta Keywords</label>
                                                                <input type="text" class="form-control" placeholder="Enter meta keywords" id="seo_kw">
                                                            </div>
                                                        </div>
                                                        <!-- end col -->
                                                    </div>
                                                    <!-- end row -->
                                                    <div>
                                                        <label class="form-label" for="seo_desc">Meta Description</label>
                                                        <textarea class="form-control" id="seo_desc" placeholder="Enter meta description" rows="3"></textarea>
                                                    </div>
                                                    <div class="col-12 d-flex flex-sm-row justify-content-end mt-2">
                                                        <button class="btn btn-primary mb-1 mr-0 mt-2 save" data-current="categ">Save Changes</button>
                                                    </div>
                                                </div>
                                                <!-- end tab pane -->
                                            </div>
                                            <!-- end tab content -->
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                </div>
                            </div>      
                        </div><!--end tab-pane-->
                        <div class="tab-pane" id="experience" role="tabpanel">
                            <form class="validate-form" novalidate="novalidate">
                                <div class="row">
                                  <!-- social header -->
                                  <div class="col-12">
                                    <div class="d-flex align-items-center mb-2">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link font-medium-3"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
                                      <h4 class="mb-0 ml-75">Social Links</h4>
                                    </div>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                    <fieldset>
                                        <label>Twitter</label>
                                        <div class="input-group mb-75 input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text feather icon-twitter" id="basic-addon3"></span>
                                            </div>
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" style="color: lightgrey;">www.twitter.com/</span>
                                            </div>
                                            <input type="text" class="form-control" value="" aria-describedby="basic-addon3" id="twitter" maxlength="50">
                                        </div>
        
                                        <label>Facebook</label>
                                        <div class="input-group mb-75 input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text feather icon-facebook" id="basic-addon4"></span>
                                            </div>
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" style="color: lightgrey;">www.facebook.com/</span>
                                            </div>
                                            <input type="text" class="form-control" value="" aria-describedby="basic-addon4" id="facebook" maxlength="50">
                                        </div>
                                        <label>Instagram</label>
                                        <div class="input-group mb-75 input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text feather icon-instagram" id="basic-addon5"></span>
                                            </div>
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" style="color: lightgrey;">www.instagram.com/</span>
                                            </div>
                                            <input type="text" class="form-control" value="" aria-describedby="basic-addon5" id="instagram" maxlength="50">
                                        </div>
                                    </fieldset>
                                  </div>
                                  <div class="col-12 col-sm-6">
                                      <label>Github</label>
                                      <div class="input-group mb-75 input-group-merge">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text feather icon-github" id="basic-addon9"></span>
                                          </div>
                                          <div class="input-group-prepend">
                                            <span class="input-group-text" style="color: lightgrey;">www.github.com/</span>
                                          </div>
                                          <input type="text" class="form-control" value="" aria-describedby="basic-addon9" id="github" maxlength="50">
                                      </div>
                                      <label>Youtube</label>
                                      <div class="input-group mb-75 input-group-merge">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text feather icon-youtube" id="basic-addon12"></span>
                                          </div>
                                          <div class="input-group-prepend">
                                            <span class="input-group-text" style="color: lightgrey;">www.youtube.com/</span>
                                          </div>
                                          <input type="text" class="form-control" value="" aria-describedby="basic-addon12" id="youtube" maxlength="50">
                                      </div>
                                      <label>Linkedin</label>
                                      <div class="input-group mb-75 input-group-merge">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text feather icon-linkedin" id="basic-addon11"></span>
                                          </div>
                                          <div class="input-group-prepend">
                                            <span class="input-group-text" style="color: lightgrey;">www.linkedin.com/</span>
                                          </div>
                                          <input type="text" class="form-control" value="" aria-describedby="basic-addon11" id="linkedin" maxlength="50">
                                      </div>
                                  </div>
        
                                  <!-- divider -->
                                  <div class="col-12">
                                    <hr class="my-2">
                                  </div>
        
                                  <div class="col-12">
                                    <!-- submit and cancel button -->
                                    <button type="button" class="btn btn-primary mr-1 mt-1 waves-effect waves-float waves-light save" data="social">Save changes</button>
                                    <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect">Cancel</button>
                                  </div>
                                </div>
                            </form>
                        </div><!--end tab-pane-->
                        <div class="tab-pane" id="privacy" role="tabpanel">
                            <div class="row">              
                                <div class="col-sm-10">
                                    <input type="text" class="form-control bg-light border-light" placeholder="Select date">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary w-100"> 
                                         Filters
                                    </button>
                                </div>
                            </div>
                        </div><!--end tab-pane-->
                    </div>
                </div>
            </div>
            <!-- card end// -->
            
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <!-- Create New Folder Modal Starts-->
    <div class="modal fade" id="new-folder-modal">
        <input type='hidden' id="csrf_token" name="csrf_token" value="IjJkMDNjM2NlNjE1ZmMxZjQyMzk5NjliMDUwMDRiOTZkNTViMGZiZmMi.Yg-kHw.5wv7wqULllnMAObm4qv5GA-YQ1Y"/>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your Site Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="error"></p>
                <input type="text" class="form-control" id="site_name" placeholder="Give your site a name" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-1" id="createsite">Create</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
            </div>
        </div>
    </div>
    <!-- /Create New Folder Modal Ends -->
      
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/perfect-scrollbar.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://wp.alithemes.com/html/evara/evara-backend/assets/js/vendors/select2.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/blog-setting.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>

</body>

</html>